body{
    background-color: pink;
}
.container{
    display: block;
    background-color: aliceblue;
    margin: 5rem auto;
    width: 400px;
    border: 2px solid black;
}
.today{
    margin: 1rem auto 5rem 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    color: rgb(66, 129, 108);
}
.btn{
    font-size: 24px;
    background-color: rgb(192, 83, 167);
    margin: auto auto 0.5rem auto;
    display: block;
    color: white;
    border-radius: 1rem;
    width: 200px;
}
.profile{
    border-radius: 10rem;
    width: 5rem;
    height: 5rem;
}
.list{
    margin:1rem 1rem 2rem 1rem;
}
.name{
    display: inline;
    padding: 1rem;
}
.age{
    display: inline;
    margin: 2rem 2rem 2rem 2rem;
}